# Read data

In [1]:
import pandas as pd
import numpy as np
import re

## Meta package

In [2]:
meta_package = pd.read_csv('../database/metadata_package.csv')
meta_package.head()

  package_name type   price duration   flag  is_long_term
0         C90N  MBF   90000       30  True          False
1         C120  MBF  120000       30  True          False
2        MDT5A  MBF    5000       30  True          False
3           D5  MBF    5000        1  FALSE         False
4        MF150  MBF  150000       30  True          False

In [3]:
def extract_number(text):
    match = re.search(r"\d+\.?\d*", text)
    if match:
        return int(match.group())
    else:
        return None

In [4]:
duration_groupby = meta_package.groupby(by='duration')['package_name'].apply(list).to_dict()
# duration_groupby = list(duration_groupby.values)
duration_list = dict()
for item in duration_groupby:
    if extract_number(item) is not None:
        duration_list[extract_number(item)] = duration_groupby[item]

print(duration_list)

{1: ['D5', 'D10', 'Y5', 'AGV', 'ED', 'FCT', 'D15', 'CLVIP', 'MVF', 'MV', 'EDE', '8NET', 'T29', 'V12', 'TT1', 'KV', '3ED', 'EPP', 'D7', 'Q5', 'ID', 'EPF', 'MN', 'EPT', 'EPL', 'CGD', 'EDD', 'MVH', 'EC', 'EPU', 'EDM', 'MVV', 'A', 'LH1D', 'AV', 'EPE', 'DV', 'EPN', 'IT', 'OV', 'HS5', 'EDV', 'EPJ', 'EDS', 'YT1', 'GZ1', 'EPO', 'KR', 'LD1', 'MTV1', 'BF30', 'R', 'P10', 'EMM', 'SF1', 'DQ', 'ME5', 'EPX', 'ETS', 'VE5', 'EPG', 'GAMI5', 'EPZ', 'EPB', 'OF', 'V10', 'EDL', 'EPH', 'SD', 'AGP', 'XH', 'AMAX15', 'NCT1', 'CAB', 'CTV', 'PK1', 'GAMI10', 'NH', 'ES1', 'ME20', 'VE10', 'F10', 'EPW', 'DT20', 'MD', 'RC3', 'S2', 'CO', 'OPV', 'EPR', 'YOLO', 'AM', 'EPS', 'CD', 'BD', 'VTCM1', 'MG1', 'EPA', 'KF', 'GA', 'VL1', 'V1', 'YTB', 'TIK'], 10: ['GK'], 15: ['15ED', 'A45S', 'RAS', '15CD', '15NH', '15BD', '15KF', 'RC2', 'GMA'], 180: ['6C120', '6C90N', '6TK159', '6TK135', '6MDT150', '6MAX90', '6KC90', '6MFY200', '21G6', '6KC120', '6FD50', '6PT70', '6MXH100', '6TK219', '6ED60', '24G6', '6MF150', '6NA70', '6MXH120', '6AG90', '6PT90', '6KC150', '6MXH80', '6FD60', '6MFY', '6MXH90', '6NA90', '6WF', '6PT120', '6BIGME', '6C120T', '6MT120', '6A89E', '6NCT105', '6MF159', '6A50S', '6NA120', '6AG60', '6MDT50IP', '6NCT85', '6ME90', '6MT190', '6ED70', '6CF120N', '6HD120', '6CS', '6MXH150', '6ME70', '6MF99', '6NCT60', '6MT160', '6AG70', '6MEPLUS', '6HD300', '6CF60', '6MCD85', '6C70HN', '6A68S', '6ME120', '6MF200', '6MFC165', '6MDT50', '6OFF70', '6MAX120', '6TA70', '6MDT_90D', '6CV119', '6NCT79', '6C50N', '6MT100', '6OF30', '6ED90', '6TA90', '6LT90', '6OF90', '6CT', '6CTS', '6VHBO', '6MCD145', '6LT70', '6HM70', '6CT70', '6CTS90', '6HBOV', '6HD90', '6MDT5A', '6THAGA100', '6TS4G', '6NCT99', '6FV99', '6HD200', '6MDT10AN', '6MF69', '6MF250', 'CS6N', 'DNTV2', '6FD50HN', '6C120K', '6DIP50', '6MW90', '6MF149', '24GDIP6', '6MWG110', '6CS50', '6MFV250', '6AG50', '6DATA5', '6MF219', '6Y60', '68DMAX', '6MDT70IP', '6OF70', '6MF300', '6FD70', '6SKY69', '6C150K', '6MAXTN', '24GIP6', '6THAGA60', '6SKY89S', '6SKY59', '6QN50', '6M2M50IP', '6SHIP120N', '6CF120', '6SM60', '6THAGA5', '6A50', '6MCL30', '6FV119', '6FSHOP129', '6F120WF', '6DATA60', '6A89S', '6A99E', '6A68', '6ED100', '6MF299', '6MF329', '6CF150', '6SKY89', '6HD70', '6SV100', '6MF399', '6MFV', '6F90N', '6MF99T', '6CF50', '6BLTS', '6MDT120', '6MDT50IPN', '6THAGA', '6MS80', '6ME100', '6CS100T', '6CS100D', '6CF90', '6MS70', '6MF199', '6CF100', '6ED50', '6MDT120DN', '6KV60', '6DN90', '6GV119', '6CV99', '6MDT_150A', '6SM90', '6TA60', '6QT50', '6S50', '6TN129', '6VTVCAB', '6A99S', '6AP199'], 270: ['9MT120', '9MT100', '9MT160', '9MT190', '9CV119'], 3: ['E15', '3NH', '3BD', '3KF'], 30: ['C90N', 'C120', 'MDT5A', 'MF150', 'A50S', 'KC90', '21G', 'TK135', 'C90', '24G', 'G1', 'MBF30', 'MDT_250A', 'PT70', 'A89E', 'HD70', 'MF99', 'ED60', 'CF60', 'PT90', 'THAGA5', 'CF50', 'MDT_V500', 'TK159', 'MDT10A', 'MXH100', 'TS4G', 'MAX90', 'SKY59', 'KC120', 'MF200', 'FD60', 'CS', 'HD90', 'ST9', 'NA70', 'M2M5', 'FD50', 'ED50', 'MF159', 'BIGME', 'A50', 'A68S', 'C190', 'CV119', 'C50N', 'MGTEL', 'CK30', 'THAGA100', 'SKY89S', 'Y60', 'MFY200', 'AG60', 'NA90', 'T59', 'C120N', 'K90', 'MDT350', 'C120K', 'NCT79', 'MF250', 'MDT10DL', '8DMAX', 'EDU', 'MM', 'MF149', '8E', 'MAXTN', 'FV99', 'MFKM', 'DATA5', 'MF300', 'C120T', 'NCT99', 'MXH120', 'E169', 'ESAVE', 'ME70', 'PT120', 'CF120', 'VDATA5', 'HD120', 'M79', 'MDT2G', 'MF199', 'MXH90', 'KN149J', 'MOMOIPA30', 'ED70', 'KN145B', 'MOBIC120', 'KC150', 'K9', 'THAGA', 'MXH80', 'EHIGH', 'NCT85', 'MDT_3TM', 'A68', 'CCLASS', 'E109', 'SHIP120N', 'LT70', 'ED100', 'AG90', 'A89S', 'KN69K', 'MFC149', 'CB', 'NCT60', 'ME90', 'NA120', 'SV100', 'HD200', 'S5P', 'FV119', 'G80', 'THAGA100C', 'TK219', 'M10', 'V90', 'MDT_GO', 'GS50', 'MF4IP', 'KN101', 'CF120N', 'CF90', 'CK50', 'DTHN', 'OFF70', 'NCT105', 'MFY99', 'AG50', '21GP', 'EMID', 'ED90', 'EDU100', 'SKY89', 'CL100', 'CF150', 'A99E', 'SM', 'D90', 'XM', 'MDT_FIS', 'CV99', 'C290', 'M25', 'MF299', 'SCLASS', 'ME120', 'MC90', 'TA90', 'CT70', 'MDTDHN', 'HD300', 'OF70', 'MWG135', 'LM', 'MDTDHN26', 'X35', 'VDATA4', 'X15', 'SM60', 'THAGA102', 'S30P', 'NCLASS', 'ESIM1', 'THAGA60', 'MDTPAYOO', 'MOMOIPA10', 'SKY69', 'MXH150', 'MDT25A', 'MAX120', 'GM_BTB', 'MF69', 'QN50', 'M50', 'MFC165', 'CF100', 'CBHT', 'D70', 'S10P', 'S50', 'MW90', 'MAX100', 'C101', 'V20N', 'FSHOP90', 'E89', 'MDT50IP', 'C9', 'DataQT150A', 'MOMO4', 'MDTDL9', 'CL150', 'MDT150', 'X55', 'E379', 'ECLASS', 'C19', 'TN50', 'C49', 'MDT50A', 'MF219', 'MOMO1', 'LT90', 'KPM', 'VPB200', 'CL200', 'A99', 'VCB120', 'D90M', 'MWG110', 'GM_CL', 'FSHOP129', 'MS80', 'E229', 'MDT_150A', 'CK150', 'A89', 'CL250', 'MF399', 'VDATA6', 'MS70', 'MF100', 'GS30', 'E129', '2THAGA15', 'MB188', 'C29', 'G90', 'E329', 'MDT10', 'TCB2', 'MDT20A', 'Z70', 'MDT50', 'KN180B', 'V50N', 'A99S', 'MDT50IPNA', 'CK70', 'BCLASS', 'F70', 'ECLASS_1', 'MDT70IP', 'M101', 'DATA30', 'TN79', 'MFC99', 'DATA60', 'E49', 'IPHN2', 'MF99T', 'C150K', 'C390', 'KN80C', 'LH30D', 'MF499', 'QT50', 'MDT_5WF', 'MFSHOP90', 'MDT120A', 'MC149', 'MOBIF90', 'F90N', 'MOMO5', 'S20P', 'MP89', 'KV60', 'NCT70', 'F90', 'FC50', 'C39', 'MDT_WF10', 'E529', 'CK300', 'CK250', 'DN90', 'HD500', 'TT80', 'CGDG', 'NCT100', 'TIKTOK90', 'CK100', 'MDT_FF', 'VPB51', 'TN129', 'CK150T24', 'EHM100A', 'MC299', 'FD50P', 'GL60', '24GDIP', 'TQT_HQ1', 'FD70', 'MS100', 'MF150HN', '24GIP', 'KN171', 'MB288', 'BK60', 'MFV250', 'M69', 'C490', 'MDT_2G_A', 'HDP100', 'CL300', 'E429', 'OF30', '1NC', 'VHBO', 'IN10', 'NF10', 'SPY10', 'Fp10', 'KP10', 'NCT10', 'MCL500', 'MCB3', 'HM70', 'CTS90', 'HBOV', 'MDT8', 'MT60', 'MDT70A', 'HDY', 'MDT_200D', 'MCD85', 'G60', 'GYM1', 'MDT120', 'MF329', 'MT120', 'MFY', 'NOW1', 'CK150_GH', 'MDT_90D', 'V100N', 'GM9000', 'M179', 'MFSHOP50', 'YC30', 'MCL50', 'HDP70', 'MCL30', 'CB5', 'HDP120', 'MCL200', 'CB3', '8NCT', 'RB1', 'MDT_120D', 'MB388', 'FD50HN', 'MT190', 'MT160', 'HD400', 'MCL100', 'NCT50', 'SM90', 'SHIP99', 'HDP200', 'GV119', 'TN179', 'NC', 'C200N', 'MT100', 'VTC', 'MFY199', 'CK300_GH', 'MCB4', 'MCB2', 'MCD145', 'MCB6', 'CK400', 'MF799', 'E729', 'SV30', 'MDT_SE', 'F50', 'DN_HC9', 'FSHOP110', 'MDT_135A', 'V150N', 'HDP300', 'CM', 'BM', 'V70N', 'CK300T24', 'MC50', 'ME100', 'RB3', 'C70HN', 'FCU120', 'CT', 'AMAX10', 'F150', 'CK250T24', 'AG70', 'GIAITRI5', 'AGYT', 'MDT90', 'TN168', 'CK500', 'ALO50', 'CS68T', 'G2', 'DN_8GOLD', 'MB128', 'C149', 'MP179', 'MOMO2', 'E_TTC1', 'SHIP120', 'CK250_GH', 'MF599', 'BK40', 'BIG60', 'ALOK90', 'MF99QT', 'QTTK15', 'AGFB', 'CS120', 'F120', 'CK400T24', 'ON30', 'WF', 'FM', 'V120N', 'MFV', 'CK800T24', 'MF999', 'FBK', 'E999', 'CK1200T24', 'EM', '8P', 'CK500T24', 'CK800', 'MFY399', 'CK1000', 'SP30', 'NCT89T', 'CK89_GH', 'FB10', 'MFU1', 'MFSHOP70', 'CK1000T24', 'HGD200', 'CK400_GH', 'CK1200', 'MFY199M', 'OF90', 'V180', 'TIK10', 'YT10', 'TA70'], 360: ['12MAX90', '12C120', '12MDT50', '21G12', '12FD50', '12TK159', '12C90N', '12MDT5A', '10BLTS', '12ED60', '12FD60', '12A50S', '12MDT150', '24G12', 'A500', 'MDT255', '12TK135', '12MFY200', '12AG60', '12MFY', '12DATA5', '12MDT10AN', '12KC90', '12MXH80', 'MVFHT', '12MF150', '12MXH100', '12NCT60', '12C120T', '12THAGA100', '12PT70', '12TK219', '12KC120', '12FD50HN', '12NCT99', '12HD300N', '12KC150', '12HD200N', '12HD120N', '12CV119', '12M2M5', '12BIGME', '12SKY59', '12C50N', '10BL5G', '12MXH90', '12PT90', '12PT120', '12AG90', '12MT190', '12HD90N', '12NA70', '12MXH120', '12WF', '12CF60', '12NCT105', '12THAGA60', '12MAX120', '12THAGA102', '12CS', '12MT120', '12HD70N', '12NA120', '12DATA60', '12MF159', '12AG50', '12NA90', '12NCT85', '12MDT10A', '12OF70', '12XD70', '12NCT79', '12MXH150', '12ED70', '12CF120N', '12ME90', '12C70HN', '12MDT50IPN', '12MF300', '12SHIP120', '12MF99', '12ME70', 'DNTV3', '12MDT50IP', '12CCLASS', '12MF250', '12MCD85', '12AG70', '12TS4G', 'F500', '12LT70', '12MCL30', '12OFF70', '12MF200', '12FV99', 'MVFGS', '12C120K', '12MT160', '12MT100', '12C150K', '12MFV250', '12DIP50', '12Y60', '12ME120', '12CT70', '12TA70', '24GIP12', '12OF30', '12ED90', '12TA90', '12LT90', '12OF90', '12CT', '12CTS', '12VHBO', '12MCD145', '12MFC165', '12HM70', '12CTS90', '12HBOV', '12MDT90D', '12SHIP99', '24GDIP12', '12THAGA', 'F500N', '12MDT120A', '128DMAX', '12FD70', '12MFSHOP456', '12MBIKE', '12SHIP120N', '12CF50', '12CF150', '12CF120', '1HGD200', '12A50', '12MF69', '12MDT_150A', '12ED50', '12VDATA4', '12MDT90', '12SKY89S', '12CV99', '12M2M30IP', '12A68S', '12SM60', '12THAGA5', '12FV119', '12MF219', '12ED100', '12KV60', '12HGD200', '12MF149', '12MF329', '12MDT70', '12SKY69', '12SV100', '12MAXTN', '12MBIKE50', '12MDT8', '12MF199', '12MF399', '12TA100', '12S50', '12MDT_120D', '12MDT50N', '12MF99T', '12A89E', '12DTHN', '12NCT50', '12QN50', '12MFV', '12BCLASS', '12M2M10', '12MCL50', '12MS70', '12NCT89', '12TA60', '12DIP79', '12DN90', '12DTHN70', '12F90N', '12A99E', '12NCLASS', '12A68', '12AGYT', '12VIP1000', '12CF90', '12A89S', '12C90', '12CS120', '12MFSHOP50', '12MF299', '12MDT70IP', '12MFY99', '12MS100', '12SCTV119', '12SM120', '12SM90', '12NCT100', '12TN168', '12WC60', '12MDT120', '12HGD120', '12FSHOP129', '10BL5GT', '12MCL100'], 420: ['12BLTS', '12BL5GPLUS', '12BL5GTPLUS'], 540: ['18WF'], 60: ['F120WF'], 7: ['D30', '7ED', 'A30S', 'B7', '7CD', 'KAT', '7NH', 'OF7', '7BD', '7KF', 'A30', 'RSD'], 720: ['24MFY200', '24MFY', '24CK500T'], 90: ['3TK159', '3TK135', '3FD50', '3KC90', '3PT70', '3NA70', '3KC120', '3CM', '3EM', '3NA90', '3AG90', '3BIGME', '3ED70', '3TK219', '3PT90', '3NA120', '3KC150', '3NC', '3PT120', '3NCT105', '3BM', '3NCT85', '3C90N', '3MT120', '3FD60', '3MT190', '3A50S', '3FM', '3ME90', '3ME120', '3ME70', '3MAXTN', '3AG70', '24G3', '3CF120N', '3CD', '3LT70', '3MDT10AN', '3CT70', '3AG60', '3MT100', '3OF30', '3ED90', '3TA90', '3LT90', '3OF90', '3CT', '3CTS', '3VHBO', '3MT160', '3OFF70', '3TA70', '3HM70', '3CTS90', '3HBOV', '3ED60', 'CS3N', '3C120', '21G3', '3Y60', '3A68S', '3MEPLUS', '3TS4G', '3SKY59', '3C50N', '3A89E', '3MAX90', '3EDU100', '3FV119', '3H', '3FSHOP129', '3F120WF', '3CF60', '3SKY69', '3SKY89S', '3FD50HN', '3SV100', '3NCT60', '3CS', '3SKY89', '3MDT150', '3TN50', '3A99E', '3BK60', '3FV99', '3S50', '3THAGA100', '3AG50', '3ME100', '24GDIP3', '24GIP3', '36CK500T', '3CF100', '3FD70', '3SHIP120N', '3THAGA', '3QT50']}

In [5]:
keys = []
for key, values in duration_list.items():
    keys.append(key)

print(len(keys))
print(keys)

14
[1, 10, 15, 180, 270, 3, 30, 360, 420, 540, 60, 7, 720, 90]

## Data Usage

In [45]:
string = "-	7GB/ngày abc xyz"
pattern = r"(?<!\w)(\d+\.?\d?)(\s*)GB(\s*)/(\s*)(ngày|tháng|chu kỳ)(?!\w)"
# pattern  = r"(?<!\w)(\d+\.?\d?)(\s*)GB(\s*)/(\s*)(ngày|tháng|chu kỳ)(?!\w)"
# pattern  = r"(\d+\sGB/\w+)" #r"(?<!\d)\d+ (?:GB|GB/ngày|GB/tháng)(?!\d)" #r"(\d+\sGB/\w+)"
# matches = re.findall(pattern, string)

def find_regex(string, pattern):
    matches = re.findall(pattern, str(string))
    return matches

print()

In [41]:
data_usage1 = pd.read_csv('../database/metadata/data_usage1.csv')
data_usage2 = pd.read_csv('../database/metadata/data_usage2.csv')
data_usage2 = data_usage2.dropna(how='all')
data_usage1 = data_usage1.dropna(how='all')

data_usage = pd.concat([data_usage1, data_usage2])
data_usage.describe

<bound method NDFrame.describe of         code  duration                                            content
0       PT70   30 ngày  -      Miễn phí 1 GB/ngày (hết dung lượng, tạm...
5       PT90   30 ngày  -      Miễn phí 1,5 GB/ngày (hết dung lượng, d...
8      PT120   30 ngày  -  Miễn phí 2 GB/ngày (hết dung lượng, dừng tr...
11      NA70   30 ngày  -      Miễn phí 10 GB/chu kỳ (hết dung lượng, ...
13      NA90   30 ngày  -      Miễn phí 15 GB/chu kỳ (hết dung lượng, ...
..       ...       ...                                                ...
941  12CTS90  360 ngày  - 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...
942     HBOV   30 ngày  - 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...
943    3HBOV   90 ngày  - 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...
944    6HBOV  180 ngày  - 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...
945   12HBOV  360 ngày  - 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...

[1084 rows x 3 columns]>

In [42]:
data_usage.dtypes

code        object
duration    object
content     object
dtype: object

In [59]:
data_usage['data'] = data_usage['content'].apply(lambda x: find_regex(x, pattern=pattern))
data_usage = data_usage.dropna(subset=['duration'])
data_usage

,code,duration,content,data
0,PT70,30 ngày,"- Miễn phí 1 GB/ngày (hết dung lượng, tạm...","[(1, , , , ngày)]"
5,PT90,30 ngày,"- Miễn phí 1,5 GB/ngày (hết dung lượng, d...","[(5, , , , ngày)]"
8,PT120,30 ngày,"- Miễn phí 2 GB/ngày (hết dung lượng, dừng tr...","[(2, , , , ngày)]"
11,NA70,30 ngày,"- Miễn phí 10 GB/chu kỳ (hết dung lượng, ...","[(10, , , , chu kỳ)]"
13,NA90,30 ngày,"- Miễn phí 15 GB/chu kỳ (hết dung lượng, ...","[(15, , , , chu kỳ)]"
...,...,...,...,...
941,12CTS90,360 ngày,"- 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...","[(1, , , , ngày)]"
942,HBOV,30 ngày,"- 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...","[(1, , , , ngày)]"
943,3HBOV,90 ngày,"- 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...","[(1, , , , ngày)]"
944,6HBOV,180 ngày,"- 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...","[(1, , , , ngày)]"
945,12HBOV,360 ngày,"- 1GB/ngày, hết dung lượng tốc độ cao, hệ thốn...","[(1, , , , ngày)]"

In [65]:
code_list = []
for index, row in data_usage.iterrows():
    
    if len(row['data']):
        data = row['data'][0]
        dur = extract_number(row['duration'])
        if (data[-1] == 'ngày' and dur == 1) or data[-1] == 'chu kỳ':
            usage = float(data[0]) * 10**9
        elif data[-1] == 'ngày' and dur is not None:
            usage = float(data[0]) * dur * 10**9
        else:
            usage = 0

    tup = (row['code'], usage)
    code_list.append(tup)
            
print(code_list)

    # print(data)
    # data = 
    # tup = (row['code'], )

[('PT70', 30000000000.0), ('PT90', 150000000000.0), ('PT120', 60000000000.0), ('NA70', 10000000000.0), ('NA90', 15000000000.0), ('NA120', 20000000000.0), ('KC90', 30000000000.0), ('KC120', 150000000000.0), ('KC150', 60000000000.0), ('OF30', 60000000000.0), ('ME70', 30000000000.0), ('ME90', 30000000000.0), ('ME120', 150000000000.0), ('BIGME', 210000000000.0), ('ED90', 210000000000.0), ('TA90', 210000000000.0), ('LT90', 210000000000.0), ('OF90', 210000000000.0), ('AG90', 30000000000.0), ('NCT85', 30000000000.0), ('NCT105', 30000000000.0), ('EM', 30000000000.0), ('CM', 30000000000.0), ('1NC', 30000000000.0), ('BM', 30000000000.0), ('FM', 30000000000.0), ('CT', 30000000000.0), ('CF120N', 30000000000.0), ('CTS', 30000000000.0), ('VHBO', 30000000000.0), ('V180', 240000000000.0), ('V90', 30000000000.0), ('MXH80', 30000000000.0), ('MXH90', 30000000000.0), ('MXH100', 30000000000.0), ('MXH120', 30000000000.0), ('MXH150', 150000000000.0), ('FBK', 150000000000.0), ('YTB', 150000000000.0), ('TIK', 150000000000.0), ('VIB', 150000000000.0), ('MT100', 150000000000.0), ('MT120', 150000000000.0), ('MT160', 150000000000.0), ('MT190', 150000000000.0), ('MCD85', 30000000000.0), ('MCD145', 60000000000.0), ('MFC165', 60000000000.0), ('TIK10', 60000000000.0), ('YT10', 60000000000.0), ('FB10', 60000000000.0), ('IN10', 60000000000.0), ('NF10', 60000000000.0), ('SPY10', 60000000000.0), ('Fp10', 60000000000.0), ('KP10', 60000000000.0), ('NCT10', 60000000000.0), ('TK135', 210000000000.0), ('TK159', 180000000000.0), ('TK219', 270000000000.0), ('MCL30', 270000000000.0), ('MCL50', 270000000000.0), ('MCL100', 270000000000.0), ('MCL200', 270000000000.0), ('MCL500', 270000000000.0), ('MCB2', 270000000000.0), ('MCB3', 270000000000.0), ('MCB4', 270000000000.0), ('MCB5', 270000000000.0), ('MCB6', 270000000000.0), ('MCB7', 270000000000.0), ('MCB8', 270000000000.0), ('MFY200', 270000000000.0), ('MFY', 270000000000.0), ('ED70', 30000000000.0), ('OFF70', 30000000000.0), ('TA70', 30000000000.0), ('LT70', 30000000000.0), ('HM70', 30000000000.0), ('CT70', 30000000000.0), ('AG70', 30000000000.0), ('CTS90', 30000000000.0), ('HBOV', 30000000000.0), ('PT70', 30000000000.0), ('PT90', 150000000000.0), ('PT120', 60000000000.0), ('NA70', 10000000000.0), ('NA90', 15000000000.0), ('NA120', 20000000000.0), ('KC90', 30000000000.0), ('KC120', 150000000000.0), ('KC150', 60000000000.0), ('OF', 60000000000.0), ('OF7', 60000000000.0), ('OF30', 60000000000.0), ('3OF30', 60000000000.0), ('6OF30', 60000000000.0), ('12OF30', 60000000000.0), ('ME70', 30000000000.0), ('ME90', 30000000000.0), ('ME120', 150000000000.0), ('BIGME', 210000000000.0), ('ME20', 14000000000.0), ('ED90', 14000000000.0), ('3ED90', 14000000000.0), ('6ED90', 14000000000.0), ('12ED90', 14000000000.0), ('TA90', 14000000000.0), ('3TA90', 14000000000.0), ('6TA90', 14000000000.0), ('12TA90', 14000000000.0), ('LT90', 14000000000.0), ('3LT90', 14000000000.0), ('6LT90', 14000000000.0), ('12LT90', 14000000000.0), ('OF90', 14000000000.0), ('3OF90', 14000000000.0), ('6OF90', 14000000000.0), ('12OF90', 14000000000.0), ('AG90', 30000000000.0), ('3AG90', 90000000000.0), ('6AG90', 180000000000.0), ('12AG90', 360000000000.0), ('NCT85', 30000000000.0), ('3NCT85', 90000000000.0), ('6NCT85', 180000000000.0), ('12NCT85', 360000000000.0), ('NCT105', 30000000000.0), ('3NCT105', 90000000000.0), ('6NCT105', 180000000000.0), ('12NCT105', 360000000000.0), ('ED', 360000000000.0), ('3ED', 360000000000.0), ('7ED', 360000000000.0), ('15ED', 360000000000.0), ('EM', 360000000000.0), ('3EM', 360000000000.0), ('CD', 360000000000.0), ('3CD', 360000000000.0), ('7CD', 360000000000.0), ('15CD', 360000000000.0), ('CM', 360000000000.0), ('3CM', 360000000000.0), ('NH', 360000000000.0), ('3NH', 360000000000.0), ('7NH', 360000000000.0), ('15NH', 360000000000.0), ('1NC', 360000000000.0), ('3NC', 360000000000.0), ('BD', 360000000000.0), ('3BD', 360000000000.0), ('7BD', 360000000000.0), ('15BD', 360000000000.0), ('BM', 360000000000.0), ('3BM', 360000000000.0), ('KF', 360000000000.0), ('3KF', 360000000000.0), ('7KF', 360000000000.0), ('15KF', 360000000000.0), ('FM', 360000000000.0), ('3FM', 360000000000.0), ('3PT70', 90000000000.0), ('6PT70', 180000000000.0), ('12PT70', 360000000000.0), ('3PT90', 450000000000.0), ('6PT90', 900000000000.0), ('12PT90', 1800000000000.0), ('3PT120', 180000000000.0), ('6PT120', 360000000000.0), ('12PT120', 720000000000.0), ('3NA70', 10000000000.0), ('6NA70', 10000000000.0), ('12NA70', 10000000000.0), ('3NA90', 15000000000.0), ('6NA90', 15000000000.0), ('12NA90', 15000000000.0), ('3NA120', 20000000000.0), ('6NA120', 20000000000.0), ('12NA120', 20000000000.0), ('3KC90', 90000000000.0), ('6KC90', 180000000000.0), ('12KC90', 360000000000.0), ('3KC120', 450000000000.0), ('6KC120', 900000000000.0), ('12KC120', 1800000000000.0), ('3KC150', 180000000000.0), ('6KC150', 360000000000.0), ('12KC150', 720000000000.0), ('CT', 30000000000.0), ('3CT', 90000000000.0), ('6CT', 180000000000.0), ('12CT', 360000000000.0), ('CF120N', 360000000000.0), ('3CF120N', 360000000000.0), ('6CF120N', 360000000000.0), ('12CF120N', 360000000000.0), ('CTS', 30000000000.0), ('3CTS', 90000000000.0), ('6CTS', 180000000000.0), ('12CTS', 360000000000.0), ('VHBO', 30000000000.0), ('3VHBO', 90000000000.0), ('6VHBO', 180000000000.0), ('12VHBO', 360000000000.0), ('V10', 0), ('V180', 240000000000.0), ('V90', 30000000000.0), ('MXH80', 30000000000.0), ('6MXH80', 180000000000.0), ('12MXH80', 360000000000.0), ('MXH90', 30000000000.0), ('6MXH90', 180000000000.0), ('12MXH90', 360000000000.0), ('MXH100', 30000000000.0), ('6MXH100', 180000000000.0), ('12MXH100', 360000000000.0), ('MXH120', 30000000000.0), ('6MXH120', 180000000000.0), ('12MXH120', 360000000000.0), ('MXH150', 150000000000.0), ('6MXH150', 900000000000.0), ('12MXH150', 1800000000000.0), ('FBK', 1800000000000.0), ('YTB', 1800000000000.0), ('TIK', 1800000000000.0), ('VIB', 1800000000000.0), ('MT100', 1800000000000.0), ('3MT100', 1800000000000.0), ('6MT100', 1800000000000.0), ('9MT100', 1800000000000.0), ('12MT100', 1800000000000.0), ('MT120', 1800000000000.0), ('3MT120', 1800000000000.0), ('6MT120', 1800000000000.0), ('9MT120', 1800000000000.0), ('12MT120', 1800000000000.0), ('MT160', 1800000000000.0), ('3MT160', 1800000000000.0), ('6MT160', 1800000000000.0), ('9MT160', 1800000000000.0), ('12MT160', 1800000000000.0), ('MT190', 1800000000000.0), ('3MT190', 1800000000000.0), ('6MT190', 1800000000000.0), ('9MT190', 1800000000000.0), ('12MT190', 1800000000000.0), ('3ME70', 1800000000000.0), ('6ME70', 1800000000000.0), ('12ME70', 1800000000000.0), ('3ME90', 1800000000000.0), ('6ME90', 1800000000000.0), ('12ME90', 1800000000000.0), ('3ME120', 1800000000000.0), ('6ME120', 1800000000000.0), ('12ME120', 1800000000000.0), ('3BIGME', 1800000000000.0), ('6BIGME', 1800000000000.0), ('12BIGME', 1800000000000.0), ('MCD85', 30000000000.0), ('6MCD85', 30000000000.0), ('12MCD85', 30000000000.0), ('MCD145', 60000000000.0), ('6MCD145', 60000000000.0), ('12MCD145', 60000000000.0), ('MFC165', 60000000000.0), ('6MFC165', 60000000000.0), ('12MFC165', 60000000000.0), ('TIK10', 60000000000.0), ('YT10', 60000000000.0), ('FB10', 60000000000.0), ('IN10', 60000000000.0), ('NF10', 60000000000.0), ('SPY10', 60000000000.0), ('Fp10', 60000000000.0), ('KP10', 60000000000.0), ('NCT10', 60000000000.0), ('TK135', 210000000000.0), ('3TK135', 630000000000.0), ('6TK135', 1440000000000.0), ('12TK135', 3240000000000.0), ('TK159', 180000000000.0), ('3TK159', 540000000000.0), ('6TK159', 1260000000000.0), ('12TK159', 2880000000000.0), ('TK219', 270000000000.0), ('3TK219', 810000000000.0), ('6TK219', 1800000000000.0), ('12TK219', 4320000000000.0), ('MCL30', 4320000000000.0), ('MCL50', 4320000000000.0), ('MCL100', 4320000000000.0), ('MCL200', 4320000000000.0), ('MCL500', 4320000000000.0), ('MCB2', 4320000000000.0), ('MCB3', 4320000000000.0), ('MCB4', 4320000000000.0), ('MCB5', 4320000000000.0), ('MCB6', 4320000000000.0), ('MCB7', 4320000000000.0), ('MCB8', 4320000000000.0), ('MFY200', 4320000000000.0), ('6MFY200', 4320000000000.0), ('12MFY200', 4320000000000.0), ('24MFY200', 4320000000000.0), ('MFY', 4320000000000.0), ('6MFY', 4320000000000.0), ('12MFY', 4320000000000.0), ('24MFY', 4320000000000.0), ('ED70', 30000000000.0), ('3ED70', 90000000000.0), ('6ED70', 180000000000.0), ('12ED70', 360000000000.0), ('OFF70', 30000000000.0), ('3OFF70', 90000000000.0), ('6OFF70', 180000000000.0), ('12OFF70', 360000000000.0), ('TA70', 30000000000.0), ('3TA70', 90000000000.0), ('6TA70', 180000000000.0), ('12TA70', 360000000000.0), ('LT70', 30000000000.0), ('3LT70', 90000000000.0), ('6LT70', 180000000000.0), ('12LT70', 360000000000.0), ('HM70', 30000000000.0), ('3HM70', 90000000000.0), ('6HM70', 180000000000.0), ('12HM70', 360000000000.0), ('CT70', 30000000000.0), ('3CT70', 90000000000.0), ('6CT70', 180000000000.0), ('12CT70', 360000000000.0), ('AG70', 30000000000.0), ('3AG70', 90000000000.0), ('6AG70', 180000000000.0), ('12AG70', 360000000000.0), ('CTS90', 30000000000.0), ('3CTS90', 90000000000.0), ('6CTS90', 180000000000.0), ('12CTS90', 360000000000.0), ('HBOV', 30000000000.0), ('3HBOV', 90000000000.0), ('6HBOV', 180000000000.0), ('12HBOV', 360000000000.0)]

In [69]:
new_package = meta_package

new_package['usage'] = new_package['package_name'].apply(lambda x: next((code[1] for code in code_list if code[0] == x), 0))

In [72]:
new_package.to_csv('../database/metadata/new_meta_package.csv', index=False)

## User model

In [6]:
raw_data = pd.read_csv('../database/usermodel_20231101_202403061419.csv')
raw_data.head()

,isdn,revenue_n_0,register_service_n_0,activate_service_n_0,arpu_n_0,td_thoai_n_0,value_thoai_n_0,count_thoai_n_0,td_data_n_0,value_data_n_0,...,count_thoai_n_2,td_data_n_2,value_data_n_2,count_data_n_2,td_sms_n_2,value_sms_n_2,count_sms_n_2,td_gtgt_n_2,td_rmqt_n_2,td_other_n_2
0,784030487,10000.0,['D10'],[],3333.0,0.0,0.0,1.0,10000.0,3.808386e+09,...,1.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,784392004,0.0,[],[],0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,784033492,50000.0,['8DMAX'],['8DMAX'],50000.0,0.0,0.0,0.0,50000.0,7.515378e+10,...,0.0,50000.0,7.510121e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,784406686,0.0,[],[],0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,784052053,104554.0,[],[],62521.0,104554.0,3831.0,185.0,0.0,0.000000e+00,...,103.0,0.0,0.000000e+00,0.0,250.0,0.0,0.0,395.0,0.0,0.0

In [68]:
raw_data.isnull().sum()

isdn                       0
revenue_n_0             2370
register_service_n_0    2370
activate_service_n_0    2370
arpu_n_0                2370
td_thoai_n_0            2370
value_thoai_n_0         2370
count_thoai_n_0         2370
td_data_n_0             2370
value_data_n_0          2370
count_data_n_0          2370
td_sms_n_0              2370
value_sms_n_0           2370
count_sms_n_0           2370
td_gtgt_n_0             2370
td_rmqt_n_0             2370
td_other_n_0            2370
partition_n_0           2370
revenue_n_1             2190
register_service_n_1    2190
activate_service_n_1    2190
arpu_n_1                2190
td_thoai_n_1            2190
value_thoai_n_1         2190
count_thoai_n_1         2190
td_data_n_1             2190
value_data_n_1          2190
count_data_n_1          2190
td_sms_n_1              2190
value_sms_n_1           2190
count_sms_n_1           2190
td_gtgt_n_1             2190
td_rmqt_n_1             2190
td_other_n_1            2190
revenue_n_2             5733
register_service_n_2    5733
activate_service_n_2    5733
arpu_n_2                5733
td_thoai_n_2            5733
value_thoai_n_2         5733
count_thoai_n_2         5733
td_data_n_2             5733
value_data_n_2          5733
count_data_n_2          5733
td_sms_n_2              5733
value_sms_n_2           5733
count_sms_n_2           5733
td_gtgt_n_2             5733
td_rmqt_n_2             5733
td_other_n_2            5733
dtype: int64

In [7]:
pre_len = len(raw_data)
raw_data = raw_data.dropna(how='all')
post_len = len(raw_data)
print(f"pre_len: {pre_len}")
print(f"null data: {pre_len - post_len}")

pre_len: 360000
null data: 0

In [8]:

print(raw_data.columns)

Index(['isdn', 'revenue_n_0', 'register_service_n_0', 'activate_service_n_0',
       'arpu_n_0', 'td_thoai_n_0', 'value_thoai_n_0', 'count_thoai_n_0',
       'td_data_n_0', 'value_data_n_0', 'count_data_n_0', 'td_sms_n_0',
       'value_sms_n_0', 'count_sms_n_0', 'td_gtgt_n_0', 'td_rmqt_n_0',
       'td_other_n_0', 'partition_n_0', 'revenue_n_1', 'register_service_n_1',
       'activate_service_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'register_service_n_2',
       'activate_service_n_2', 'arpu_n_2', 'td_thoai_n_2', 'value_thoai_n_2',
       'count_thoai_n_2', 'td_data_n_2', 'value_data_n_2', 'count_data_n_2',
       'td_sms_n_2', 'value_sms_n_2', 'count_sms_n_2', 'td_gtgt_n_2',
       'td_rmqt_n_2', 'td_other_n_2'],
      dtype='object')

## Count duration used per month

In [9]:
from ast import literal_eval
import numpy as np

def match_duration(string_list, series):
    ret_list = []
    if not pd.isnull(string_list):
        string_list = literal_eval(string_list)
        for string in string_list:
            for label, value in series.items():
                if isinstance(value, list) and string in value:
                    ret_list.append(label)
    return ret_list

In [10]:
service_cols =  ['register_service_n_0', 'register_service_n_1', 'register_service_n_2']

service_data = raw_data
print(type(service_data))

for col in service_cols:
    # service_data[col] = raw_data[col].to_list()
    service_data[col] = service_data[col].apply(lambda x : match_duration(x, duration_list))
service_data.head()

<class 'pandas.core.frame.DataFrame'>

,isdn,revenue_n_0,register_service_n_0,activate_service_n_0,arpu_n_0,td_thoai_n_0,value_thoai_n_0,count_thoai_n_0,td_data_n_0,value_data_n_0,...,count_thoai_n_2,td_data_n_2,value_data_n_2,count_data_n_2,td_sms_n_2,value_sms_n_2,count_sms_n_2,td_gtgt_n_2,td_rmqt_n_2,td_other_n_2
0,784030487,10000.0,[1],[],3333.0,0.0,0.0,1.0,10000.0,3.808386e+09,...,1.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,784392004,0.0,[],[],0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,784033492,50000.0,[30],['8DMAX'],50000.0,0.0,0.0,0.0,50000.0,7.515378e+10,...,0.0,50000.0,7.510121e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,784406686,0.0,[],[],0.0,0.0,0.0,0.0,0.0,0.000000e+00,...,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,784052053,104554.0,[],[],62521.0,104554.0,3831.0,185.0,0.0,0.000000e+00,...,103.0,0.0,0.000000e+00,0.0,250.0,0.0,0.0,395.0,0.0,0.0

In [11]:
durations = [30, 60, 90, 180, 270, 360, 420, 540, 720]
import pandas as pd
import collections
def count_values_in_cells(raw, list_cols, durations):
  df = raw.copy()
  for index in raw.index:
    for col in list_cols:
      all_values = collections.Counter(df[col][index])
      # print(all_values)
      for val, count in all_values.items():
          # print(val, count)
          if val in durations:
            new_col_name = f'{col}_{val}'
            if new_col_name not in df.columns:
              df[new_col_name] = 0
            df.at[index, new_col_name] = count

  #   df.drop(col, axis=1, inplace=True)
  return df

In [12]:
updated_df = count_values_in_cells(service_data, service_cols, durations)
print(updated_df.columns)

Index(['isdn', 'revenue_n_0', 'register_service_n_0', 'activate_service_n_0',
       'arpu_n_0', 'td_thoai_n_0', 'value_thoai_n_0', 'count_thoai_n_0',
       'td_data_n_0', 'value_data_n_0', 'count_data_n_0', 'td_sms_n_0',
       'value_sms_n_0', 'count_sms_n_0', 'td_gtgt_n_0', 'td_rmqt_n_0',
       'td_other_n_0', 'partition_n_0', 'revenue_n_1', 'register_service_n_1',
       'activate_service_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'register_service_n_2',
       'activate_service_n_2', 'arpu_n_2', 'td_thoai_n_2', 'value_thoai_n_2',
       'count_thoai_n_2', 'td_data_n_2', 'value_data_n_2', 'count_data_n_2',
       'td_sms_n_2', 'value_sms_n_2', 'count_sms_n_2', 'td_gtgt_n_2',
       'td_rmqt_n_2', 'td_other_n_2', 'register_service_n_0_30',
       'register_service_n_1_30', 'register_service_n_2_30',
       'register_service_n_0_180', 'register_service_n_1_180',
       'register_service_n_2_180', 'register_service_n_0_360',
       'register_service_n_1_360', 'register_service_n_2_360',
       'register_service_n_2_90', 'register_service_n_0_90',
       'register_service_n_1_90', 'register_service_n_0_60',
       'register_service_n_1_60', 'register_service_n_2_60',
       'register_service_n_0_420', 'register_service_n_1_420',
       'register_service_n_2_420', 'register_service_n_0_540',
       'register_service_n_1_540', 'register_service_n_2_540',
       'register_service_n_0_720', 'register_service_n_1_720'],
      dtype='object')

In [13]:
for ser in service_cols:
    for d in durations:
        col_name  = f"{ser}_{d}"
        if col_name not in updated_df.columns:
            updated_df[col_name] = 0

print(updated_df.columns)

Index(['isdn', 'revenue_n_0', 'register_service_n_0', 'activate_service_n_0',
       'arpu_n_0', 'td_thoai_n_0', 'value_thoai_n_0', 'count_thoai_n_0',
       'td_data_n_0', 'value_data_n_0', 'count_data_n_0', 'td_sms_n_0',
       'value_sms_n_0', 'count_sms_n_0', 'td_gtgt_n_0', 'td_rmqt_n_0',
       'td_other_n_0', 'partition_n_0', 'revenue_n_1', 'register_service_n_1',
       'activate_service_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'register_service_n_2',
       'activate_service_n_2', 'arpu_n_2', 'td_thoai_n_2', 'value_thoai_n_2',
       'count_thoai_n_2', 'td_data_n_2', 'value_data_n_2', 'count_data_n_2',
       'td_sms_n_2', 'value_sms_n_2', 'count_sms_n_2', 'td_gtgt_n_2',
       'td_rmqt_n_2', 'td_other_n_2', 'register_service_n_0_30',
       'register_service_n_1_30', 'register_service_n_2_30',
       'register_service_n_0_180', 'register_service_n_1_180',
       'register_service_n_2_180', 'register_service_n_0_360',
       'register_service_n_1_360', 'register_service_n_2_360',
       'register_service_n_2_90', 'register_service_n_0_90',
       'register_service_n_1_90', 'register_service_n_0_60',
       'register_service_n_1_60', 'register_service_n_2_60',
       'register_service_n_0_420', 'register_service_n_1_420',
       'register_service_n_2_420', 'register_service_n_0_540',
       'register_service_n_1_540', 'register_service_n_2_540',
       'register_service_n_0_720', 'register_service_n_1_720',
       'register_service_n_0_270', 'register_service_n_1_270',
       'register_service_n_2_270', 'register_service_n_2_720'],
      dtype='object')

In [14]:
drop_col = service_cols + ['isdn', 'activate_service_n_0', 'activate_service_n_1', 'activate_service_n_2', 'partition_n_0']
print(drop_col)
updated_df = updated_df.drop(drop_col, axis=1)
print(len(updated_df.columns))

['register_service_n_0', 'register_service_n_1', 'register_service_n_2', 'isdn', 'activate_service_n_0', 'activate_service_n_1', 'activate_service_n_2', 'partition_n_0']
69

## Format output

In [24]:
output_0 = []
train_data = updated_df.copy()
for col in updated_df.columns:
    if 'register_service_n_0' in col:
        output_0.append(col)
        train_data = train_data.drop([col], axis=1)
    elif 'n_0' in col:
        train_data = train_data.drop([col], axis=1)


print(len(train_data.columns))
print(output_0)
output_df = updated_df[output_0].copy()
train_data.head()

46
['register_service_n_0_30', 'register_service_n_0_180', 'register_service_n_0_360', 'register_service_n_0_90', 'register_service_n_0_60', 'register_service_n_0_420', 'register_service_n_0_540', 'register_service_n_0_720', 'register_service_n_0_270']

,revenue_n_1,arpu_n_1,td_thoai_n_1,value_thoai_n_1,count_thoai_n_1,td_data_n_1,value_data_n_1,count_data_n_1,td_sms_n_1,value_sms_n_1,...,register_service_n_1_60,register_service_n_2_60,register_service_n_1_420,register_service_n_2_420,register_service_n_1_540,register_service_n_2_540,register_service_n_1_720,register_service_n_1_270,register_service_n_2_270,register_service_n_2_720
0,0.0,9650.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,50000.0,50000.0,0.0,0.0,0.0,50000.0,1.010260e+11,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,53506.0,59497.0,53256.0,1893.0,96.0,0.0,0.000000e+00,0.0,250.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
def get_duration(col_name):
    if(col_name == ''):
        return 0 
    list_col =  col_name.split(',')
    durs = []
    for col in list_col:
        splited = col.split('_')
        durs.append(int(splited[-1]))
    
    return int(max(durs)/30)

get_duration('')

0

In [23]:
import pandas as pd

# Sample DataFrame
data = {'col1': [10, 0, 8], 'col2': [20, 12, 0], 'col3': [0, 18, 22]}
df = pd.DataFrame(data)

# New column with comma-separated list of column names with values > 0
def get_gt_0_cols(row):
  return ','.join(row.gt(0).where(row > 0).dropna().index.tolist())

df['cols_gt_0'] = df.apply(get_gt_0_cols, axis=1)

print(df)

   col1  col2  col3  cols_gt_0
0    10    20     0  col1,col2
1     0    12    18  col2,col3
2     8     0    22  col1,col3

In [40]:
for index, row in output_df.iterrows():
    dur = get_duration(row['list_dur'])
    output_df.loc[index, 'max_dur'] = dur

output_df.head()

,register_service_n_0_30,register_service_n_0_180,register_service_n_0_360,register_service_n_0_90,register_service_n_0_60,register_service_n_0_420,register_service_n_0_540,register_service_n_0_720,register_service_n_0_270,list_dur,max_dur_0,max_dur
0,0,0,0,0,0,0,0,0,0,,0,0
1,0,0,0,0,0,0,0,0,0,,0,0
2,1,0,0,0,0,0,0,0,0,register_service_n_0_30,0,1
3,0,0,0,0,0,0,0,0,0,,0,0
4,0,0,0,0,0,0,0,0,0,,0,0

In [41]:
output_df.columns

Index(['register_service_n_0_30', 'register_service_n_0_180',
       'register_service_n_0_360', 'register_service_n_0_90',
       'register_service_n_0_60', 'register_service_n_0_420',
       'register_service_n_0_540', 'register_service_n_0_720',
       'register_service_n_0_270', 'list_dur', 'max_dur_0', 'max_dur'],
      dtype='object')

In [42]:
output_df = output_df.drop(['register_service_n_0_30', 'register_service_n_0_180', 
                            'register_service_n_0_360', 'register_service_n_0_90',
                            'register_service_n_0_60', 'register_service_n_0_420',
                            'register_service_n_0_540', 'register_service_n_0_720',
                            'register_service_n_0_270', 'list_dur', 'max_dur_0'], axis = 1)
train_data = pd.concat([train_data, output_df['max_dur']], axis=1)
print(train_data.columns)
train_data.head()

Index(['revenue_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'arpu_n_2',
       'td_thoai_n_2', 'value_thoai_n_2', 'count_thoai_n_2', 'td_data_n_2',
       'value_data_n_2', 'count_data_n_2', 'td_sms_n_2', 'value_sms_n_2',
       'count_sms_n_2', 'td_gtgt_n_2', 'td_rmqt_n_2', 'td_other_n_2',
       'register_service_n_1_30', 'register_service_n_2_30',
       'register_service_n_1_180', 'register_service_n_2_180',
       'register_service_n_1_360', 'register_service_n_2_360',
       'register_service_n_2_90', 'register_service_n_1_90',
       'register_service_n_1_60', 'register_service_n_2_60',
       'register_service_n_1_420', 'register_service_n_2_420',
       'register_service_n_1_540', 'register_service_n_2_540',
       'register_service_n_1_720', 'register_service_n_1_270',
       'register_service_n_2_270', 'register_service_n_2_720', 'max_dur'],
      dtype='object')

,revenue_n_1,arpu_n_1,td_thoai_n_1,value_thoai_n_1,count_thoai_n_1,td_data_n_1,value_data_n_1,count_data_n_1,td_sms_n_1,value_sms_n_1,...,register_service_n_2_60,register_service_n_1_420,register_service_n_2_420,register_service_n_1_540,register_service_n_2_540,register_service_n_1_720,register_service_n_1_270,register_service_n_2_270,register_service_n_2_720,max_dur
0,0.0,9650.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,50000.0,50000.0,0.0,0.0,0.0,50000.0,1.010260e+11,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,53506.0,59497.0,53256.0,1893.0,96.0,0.0,0.000000e+00,0.0,250.0,0.0,...,0,0,0,0,0,0,0,0,0,0

## One-hot encoding

In [30]:
def expand_list_column(data, list_column):
    exploded_data = data.explode(list_column)
    return exploded_data

In [31]:
exploded_data = expand_list_column(service_data, 'register_service_n_0')
print(exploded_data.columns)

Index(['isdn', 'revenue_n_0', 'register_service_n_0', 'activate_service_n_0',
       'arpu_n_0', 'td_thoai_n_0', 'value_thoai_n_0', 'count_thoai_n_0',
       'td_data_n_0', 'value_data_n_0', 'count_data_n_0', 'td_sms_n_0',
       'value_sms_n_0', 'count_sms_n_0', 'td_gtgt_n_0', 'td_rmqt_n_0',
       'td_other_n_0', 'partition_n_0', 'revenue_n_1', 'register_service_n_1',
       'activate_service_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'register_service_n_2',
       'activate_service_n_2', 'arpu_n_2', 'td_thoai_n_2', 'value_thoai_n_2',
       'count_thoai_n_2', 'td_data_n_2', 'value_data_n_2', 'count_data_n_2',
       'td_sms_n_2', 'value_sms_n_2', 'count_sms_n_2', 'td_gtgt_n_2',
       'td_rmqt_n_2', 'td_other_n_2'],
      dtype='object')

In [33]:
encoded_df = pd.get_dummies(exploded_data[['register_service_n_0']])
print(encoded_df.columns)

Index(['register_service_n_0_1', 'register_service_n_0_3',
       'register_service_n_0_7', 'register_service_n_0_10',
       'register_service_n_0_15', 'register_service_n_0_30',
       'register_service_n_0_60', 'register_service_n_0_90',
       'register_service_n_0_180', 'register_service_n_0_360',
       'register_service_n_0_420', 'register_service_n_0_540',
       'register_service_n_0_720'],
      dtype='object')

C:\Users\Admin\AppData\Local\Temp\ipykernel_17832\1238691728.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  encoded_df = pd.get_dummies(exploded_data[['register_service_n_0']])

In [36]:
encoded_data = pd.concat([exploded_data, encoded_df])
print(encoded_data.columns)

Index(['isdn', 'revenue_n_0', 'register_service_n_0', 'activate_service_n_0',
       'arpu_n_0', 'td_thoai_n_0', 'value_thoai_n_0', 'count_thoai_n_0',
       'td_data_n_0', 'value_data_n_0', 'count_data_n_0', 'td_sms_n_0',
       'value_sms_n_0', 'count_sms_n_0', 'td_gtgt_n_0', 'td_rmqt_n_0',
       'td_other_n_0', 'partition_n_0', 'revenue_n_1', 'register_service_n_1',
       'activate_service_n_1', 'arpu_n_1', 'td_thoai_n_1', 'value_thoai_n_1',
       'count_thoai_n_1', 'td_data_n_1', 'value_data_n_1', 'count_data_n_1',
       'td_sms_n_1', 'value_sms_n_1', 'count_sms_n_1', 'td_gtgt_n_1',
       'td_rmqt_n_1', 'td_other_n_1', 'revenue_n_2', 'register_service_n_2',
       'activate_service_n_2', 'arpu_n_2', 'td_thoai_n_2', 'value_thoai_n_2',
       'count_thoai_n_2', 'td_data_n_2', 'value_data_n_2', 'count_data_n_2',
       'td_sms_n_2', 'value_sms_n_2', 'count_sms_n_2', 'td_gtgt_n_2',
       'td_rmqt_n_2', 'td_other_n_2', 'register_service_n_0_1',
       'register_service_n_0_3', 'register_service_n_0_7',
       'register_service_n_0_10', 'register_service_n_0_15',
       'register_service_n_0_30', 'register_service_n_0_60',
       'register_service_n_0_90', 'register_service_n_0_180',
       'register_service_n_0_360', 'register_service_n_0_420',
       'register_service_n_0_540', 'register_service_n_0_720'],
      dtype='object')

In [ ]:
encoded_cols = service_cols

def one_hot_encoder(data, columns):
    encoded_data = data.copy()
    for col in columns:
            exploded_data = expand_list_column(encoded_data, col)
            encoded_df = pd.get_dummies(exploded_data[[col]])
            encoded_data = pd.concat([encoded_data, encoded_df])
    return encoded_data

# encoded_data = one_hot_encoder(service_data, service_cols)
# print(encoded_data.columns)

# Save

In [43]:
train_data.to_csv('../database/train/train_data.csv', index=False)

## Filtering